td {
    padding-bottom: 5px;
}
.display-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    min-width: 50vw;
    min-height: 70vh;
    border-radius: 50px;
    opacity: 0.8;
    background-size: 10px 10px;
    overflow: hidden;
    box-shadow: 6px 6px rgb(53, 53, 53);
    //background-image: url('../assets/pokemon-background.png');

    &_header {
    min-height: 25rem;
    text-align: center;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    & h1 {
        position: relative;
        top: 200px;
        color: #000;
        text-shadow: 2px 4px rgb(53, 53, 53);
        font-size: 5rem;
        padding: 1rem;
     }

     & .display-content_sprite {
         width: 250px;
         height: 250px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform:translate(-50%, -50%);

         & > img {
             object-fit: cover;
             width: 100%;
             height: 100%;
         }
     }
    }


    &_body {
        background: #fff;
        padding: 2rem;
       // height: 100%;
        min-height: 50vh;
        border-radius: 50px 50px 0 0;

        & > table {
            margin-bottom: 2rem;
        }

        & .table-key{
            font-weight: 700;
         }
     }

     & .display-specifics {
         &_category--primary {
             font-weight: 700;
             font-size: 2rem;
             padding-bottom: 2rem;
         }
         &_category--secondary {
             font-weight: 700;
             font-size: 1.5rem;
             margin-bottom: 1rem;
         }
     }
}

.display-content_types {
    position: relative;
    top: 2rem;
    left: 2rem;
    text-align: left;

    & span {
        font-weight: 700;
        font-size: 20px;
        background: #fff;
        padding: 1rem;
        border-radius: 55px;
        display: inline-block;
        min-width: 70px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}

.display-content_pokeid{
    position: absolute;
    top: 2rem;
    right: 2rem;

    & span {
        font-weight: 700;
        font-size: 2rem;
    }
}

