.statusbars {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
}

.statusbar_key {
    width: 25%;
}

.statusbar_bar {
    width: 100%;

    &>div {
        border-radius: 50px;
        text-align: center;
        padding: 3px;
    }
}
