td {
    padding-bottom: 5px;
}
.display-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 35vw;
    height: 70vh;
    border-radius: 50px;
    background-color: #ffcb05;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #c7a008 0, #444cf7 1px, #ffcb05 0, #ffcb05 50%);
    overflow: hidden;
    box-shadow: 6px 6px rgb(53, 53, 53);

    &_header {
    min-height: 5rem;
    text-align: center;

    & h1 {
        position: relative;
        top: 120px;
        color: #000;
        text-shadow: 2px 6px rgb(53, 53, 53);
        font-size: 5rem;
        padding: 1rem;
     }
    }

    &_body {
        background: #fff;
        padding: 2rem;
       // height: 100%;
       min-height: 50vh;
        border-radius: 50px 50px 0 0;
        & .table-key{
            font-weight: 700;
         }
     }

     & .display-specifics {
         &_category--primary {
             font-weight: 700;
             font-size: 2rem;
             padding-bottom: 2rem;
         }
         &_category--secondary {
             font-weight: 700;
             font-size: 1.5rem;
             margin-bottom: 1rem;
         }
     }
}

.display-content_types {
    position: absolute;
    top: 2rem;
    left: 2rem;
    & span {
        font-weight: 700;
        font-size: 20px;
        background: #fff;
        padding: 1rem;
        border-radius: 55px;
        display: inline-block;
        min-width: 70px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}

.display-content_pokeid{
    position: absolute;
    top: 2rem;
    right: 2rem;

    & span {
        font-weight: 700;
        font-size: 2rem;
    }
}

